*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mydiv{
    background-color: coral;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 40px;
}
.big{
    display: inline-block;
    float: left;
    background-color: coral;
    text-align: center;
    padding: 80px;
}